.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.action_button {
  margin: 10px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.38) 0 2px 8px 0;
}
